In [47]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules

In [27]:
dataset = [["Milk", "Onion", "Nutmeg", "Kidney Beans", "Eggs", "Yogurt"],
          ["Dill", "Onion", "Nutmeg","Kidney Beans", "Eggs", "Yogurt"],
          ["Milk", "Apple", "Kidney Beans", "Eggs"],
          ["Milk", "Unicorn", "Corn", "Kidney Beans", "Yogurt"],
          ["Corn", "Onion", "Onion", "Kidney Beans", "Ice cream", "Eggs"]]

In [28]:
te = TransactionEncoder()

In [30]:
te_ary = te.fit(dataset).transform(dataset)

In [31]:
te_ary

array([[False, False, False,  True, False,  True,  True,  True,  True,
        False,  True],
       [False, False,  True,  True, False,  True, False,  True,  True,
        False,  True],
       [ True, False, False,  True, False,  True,  True, False, False,
        False, False],
       [False,  True, False, False, False,  True,  True, False, False,
         True,  True],
       [False,  True, False,  True,  True,  True, False, False,  True,
        False, False]])

In [35]:
df = pd.DataFrame(te_ary, columns=te.columns_)

In [36]:
df.head()

,Apple,Corn,Dill,Eggs,Ice cream,Kidney Beans,Milk,Nutmeg,Onion,Unicorn,Yogurt
0,False,False,False,True,False,True,True,True,True,False,True
1,False,False,True,True,False,True,False,True,True,False,True
2,True,False,False,True,False,True,True,False,False,False,False
3,False,True,False,False,False,True,True,False,False,True,True
4,False,True,False,True,True,True,False,False,True,False,False

In [52]:
df2 = apriori(df, min_support=0.6, use_colnames=True, verbose=1)
df2.head()

Processing 21 combinations | Sampling itemset size 3

   support        itemsets
0      0.8          (Eggs)
1      1.0  (Kidney Beans)
2      0.6          (Milk)
3      0.6         (Onion)
4      0.6        (Yogurt)

In [58]:
from mlxtend.frequent_patterns import association_rules
association_rules(df2, num_itemsets=5, metric="confidence", min_threshold=0.7)

/Users/mac/Desktop/venv/lib/python3.13/site-packages/mlxtend/frequent_patterns/association_rules.py:186: RuntimeWarning: invalid value encountered in divide
  cert_metric = np.where(certainty_denom == 0, 0, certainty_num / certainty_denom)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,representativity,leverage,conviction,zhangs_metric,jaccard,certainty,kulczynski
0,(Kidney Beans),(Eggs),1.0,0.8,0.8,0.80,1.00,1.0,0.00,1.0,0.0,0.80,0.000,0.900
1,(Eggs),(Kidney Beans),0.8,1.0,0.8,1.00,1.00,1.0,0.00,inf,0.0,0.80,0.000,0.900
2,(Onion),(Eggs),0.6,0.8,0.6,1.00,1.25,1.0,0.12,inf,0.5,0.75,1.000,0.875
3,(Eggs),(Onion),0.8,0.6,0.6,0.75,1.25,1.0,0.12,1.6,1.0,0.75,0.375,0.875
4,(Milk),(Kidney Beans),0.6,1.0,0.6,1.00,1.00,1.0,0.00,inf,0.0,0.60,0.000,0.800
5,(Onion),(Kidney Beans),0.6,1.0,0.6,1.00,1.00,1.0,0.00,inf,0.0,0.60,0.000,0.800
6,(Yogurt),(Kidney Beans),0.6,1.0,0.6,1.00,1.00,1.0,0.00,inf,0.0,0.60,0.000,0.800
7,"(Onion, Kidney Beans)",(Eggs),0.6,0.8,0.6,1.00,1.25,1.0,0.12,inf,0.5,0.75,1.000,0.875
8,"(Onion, Eggs)",(Kidney Beans),0.6,1.0,0.6,1.00,1.00,1.0,0.00,inf,0.0,0.60,0.000,0.800
9,"(Kidney Beans, Eggs)",(Onion),0.8,0.6,0.6,0.75,1.25,1.0,0.12,1.6,1.0,0.75,0.375,0.875
10,(Onion),"(Kidney Beans, Eggs)",0.6,0.8,0.6,1.00,1.25,1.0,0.12,inf,0.5,0.75,1.000,0.875
11,(Eggs),"(Onion, Kidney Beans)",0.8,0.6,0.6,0.75,1.25,1.0,0.12,1.6,1.0,0.75,0.375,0.875